
$color-blue:  rgb(15, 15, 129);
$color-grey: rgba(146, 141, 141, 0.493);



.img-ig{
    width: 20px;
   
}


$padding:20px;

.serie_hover{
    &:hover { color: white;} 
}
@mixin description {
    background-color:white; 
    width: 50%;
    top: 0px;
    justify-content: center;
    
}
